/*
 * Vector skin customizations for Arabeyes, by Djihed and Youssef
 */
@import "mediawiki.mixins";

/* Custom logo and panel */
body {
   background: url(/skins/Arabeyes/images/bg.png) top right repeat;
}

div#mw-head {
    height: 40px;
    background: transparent url(/skins/Arabeyes/images/topbg.png) top left repeat-x;
}

#p-logo a {
    display: block;
    width: 180px !important;
    height: 160px;
    background-repeat: no-repeat;
    background-position: center center;
    text-decoration: none;
}

.mw-body {
    margin-left: 180px !important;
}

#left-navigation {
    margin-left: 180px !important;
}

div#mw-panel div.portal h3 {
    font-size: .9em;
    font-weight: 400;
    line-height: 1em;
    display: block;
    background: url(/skins/Arabeyes/images/userbg.gif) repeat-x;
    border-top: 1px solid #A5D07A;
    border-bottom: 1px solid #A5D07A;
    padding: 0.25em 0 0.25em 1em !important;
}

div#mw-panel #p-logo + div.portal div.body {
    margin-left: 1.25em;
}


div#mw-panel div.portal {
    display: block;
    margin: 0;
    padding: 0;
    width: 180px;
    border-right: 1px solid #A5D07A;
    border-bottom: 1px solid #A5D07A;
}

#mw-panel {
    padding-left: 0em !important;
}

#p-logo {
    left: 0 !important;
}


/* User bar */
#p-personal a.new {
	/*color: #b76363 !important; */
	color: #fe8585 !important;
        font-weight: normal !important;
}

/* Links */ 
a {
   color: #7ca926;
}

a:visited {
   color: #881280;
}

.mw-body a.external {
    color: #7ca926;
}

#p-personal a {
	color: white;
}

#p-personal a:visited {
	color: #fff;
}

.wikiEditor-ui-toolbar .group-insert {
    float: left;
    height: 26px;
    padding-right: 6px;
    border-right: 1px solid #ddd !important;
    margin: 3px;
}

.titlediv h2 {
    font-size: 1.1em;
    font-weight: bold;
    margin: 0;
    padding-top: 0.1em;
    padding-bottom: 0.1em;
    font-weight: normal;
}
#maintable .cellcontent {
    background-color: #ffffff;
    padding: 0.3em 0.8em 0.4em 0.8em;  
}

#maintable tr td {
     vertical-align: top;
}

.sectionlogo {
float: right;
padding: 0.2em 0.2em 0.2em 0.2em;
}

