@import url(http://fonts.googleapis.com/css?family=Amiri);
@html-font-size: 120%;

// Page content
// FIXME: Use global variable since Echo and CentralNotice use this variable
@content-border-color: #a4d176;
// FIXME: Find an open font that works with this stack and is readable by Windows users
@content-font-family: "Amiri", sans-serif;
@content-font-color: #252525;
@content-font-size: 1em;
@content-line-height: 1.6;
@content-padding: 1em;
@content-heading-font-size: 2em;
@content-heading-font-family: "Amiri", "Linux Libertine", Georgia, Times, serif;
@content-heading-font-family-generic: "Amiri", sans-serif;
@body-background-color: #fff;
@heading-line-height: 1.3;

// Navigation
@menu-background-color: #f6f6f6;

// Common menu
@menu-link-color: #59783f;

// Main menu
@menu-main-font-size: inherit;

@menu-main-heading-font-size: 0.9em;
@menu-main-heading-padding: 0.25em 0 0.25em 0.25em;
@menu-main-heading-color: #4d4d4d;

@menu-main-body-font-size: 0.9em;
@menu-main-body-link-color: #59783f;
@menu-main-body-link-visited-color: #333;
@menu-main-body-margin: 0 0 0 1.25em;
@menu-main-body-padding: 0;

@menu-main-logo-left: 0.5em;

// Personal menu
@menu-personal-font-size: 0.75em;

// Customizations for Arabeyes
@sidebar-width: 180px;
